<!DOCTYPE html>
<html>
    <head>
        <!-- Page Meta inInformation -->
        <title>Game View</title>
        <meta name="description" content="Loading HTML view, will be shown by default and during loading." />
        <meta charset="utf-8" />
        
        <!-- Reset CSS -->
        <link rel="stylesheet" href="../../CSS/reset.css" />
        
        <!-- jQuery UI -->
        <link rel="stylesheet" href="../../CSS/squarecubed-theme/jquery-ui-1.10.3.custom.css" />
        <script src="../../JS/jquery-1.9.1.js"></script>
        <script src="../../JS/jquery-ui-1.10.3.custom.js"></script>
        
        <!-- Common -->
        <link rel="stylesheet" href="../../CSS/common.css" />
        <script src="../../JS/common.js"></script>
        
        <!-- Page Specific -->
        <link rel="stylesheet" href="Loading.css" />
        <script src="Loading.js"></script>
    </head>
    <body>
        <p id="topleft-label">SquareCubed InDev-0.3 Debug</p>
        <p id="bottomright-label">Loading...</p>
	</body>
</html>