<!DOCTYPE html>
<html>
    <head>
        <!-- Page Meta inInformation -->
        <title>Game View</title>
        <meta name="description" content="Game HTML view, to be loaded with the CoherentUI OpenGL GUI Module." />
        <meta charset="utf-8" />
        
        <!-- Reset CSS -->
        <link rel="stylesheet" href="../../CSS/reset.css" />
        
        <!-- jQuery UI -->
        <link rel="stylesheet" href="../../CSS/squarecubed-theme/jquery-ui-1.10.3.custom.css" />
        <script src="../../JS/jquery-1.9.1.js"></script>
        <script src="../../JS/jquery-ui-1.10.3.custom.js"></script>

        <!-- Coherent UI -->
        <script type="text/javascript">
            engineCreateDeferred = jQuery.Deferred;
        </script>
        <script type="text/javascript" src="../../JS/coherent.js"></script>

        <!-- Common -->
        <link rel="stylesheet" href="../../CSS/common.css" />
        <script src="../../JS/common.js"></script>
        
        <!-- Page Specific -->
        <link rel="stylesheet" href="Game.css" />
        <script src="Game.js"></script>
    </head>
    <body>
        <p id="topleft-label">SquareCubed InDev-0.3 Debug</p>
	</body>
</html>